STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:7000,http://localhost:7001,https://docs.medusajs.com
AUTH_CORS=http://localhost:7000,http://localhost:7001,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL=postgres://postgres@localhost/$DB_NAME
DB_NAME=medusa-backend

# NetSuite Configuration
NETSUITE_ACCOUNT_ID=3429264
NETSUITE_CONSUMER_KEY=c9cf148e5b9358788c8280609d3281fedc53f0534b19dc2413d4e0eb5c5e1ba3
NETSUITE_CONSUMER_SECRET=695e9d5d929d2f0c9ce0e346c749c6e485bf90179c84b13ce2fc2f20c9a25601
NETSUITE_TOKEN_ID=1e5eba0da0baff7c59d728c85eda36bb483177d0b0ff055aeecc29bfd6df91c1
NETSUITE_TOKEN_SECRET=7c7be4f979cd7036aeea2aede1942d892fc6549af590af10d890e741077af32a
NETSUITE_BASE_URL=https://3429264.suitetalk.api.netsuite.com/services/rest/record/v1